<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mt-5 mt-lg-0 order-1 order-lg-0">
        <div class="mb-5 pe-5">
          <p class="lh-lg text-muted">Contact options:</p>
        </div>
        <ul class="list-unstyled">
          <li class="mb-4">
            <span>shopone@shopone.com</span>
          </li>
          <li class="mb-4">
            <span>+48 987 654 321</span>
          </li>
          <li>
            <span>website</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>