<% provide(:title, 'Search') %>

<div class="container-fluid py-5 bg-dark hero-header mb-5">
  <div class="container text-center my-5 pt-5 pb-4">
    <h1 class="display-3 text-white mb-3">Search & Buy</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center text-uppercase">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">Search</li>
      </ol>
    </nav>
  </div>
</div>

<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-4">
      <% @categories.each do |category| %>
        <a class="btn col-lg-2 col-sm-6" href=<%= "/categories/#{category.id}" %>>
            <div class="service-item rounded pt-3">
              <div class="p-4">
                <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                <h5><%= category.name %></h5>
              </div>
            </div>
        </a>
      <% end %>
    </div>
  </div>
</div>