<% if @feed_microposts.any? %>
  <ol class="microposts">
    <%= render @feed_microposts %>
  </ol>
  <div class="digg_pagination">
<%= will_paginate @feed_microposts, params: { controller: :static_pages, action: :home } %>
  </div>
<% end %>