<h1>
  <%= image_tag("avatars/default.jpg", height: "75", width: "90") %>
  <%= current_user.name %>
</h1>
<%= link_to "view my profile", current_user %>
<%= pluralize(current_user.microposts.count, "micropost") %>