<% provide(:title, 'Sign up') %>

<div class="container-fluid py-5 bg-dark hero-header mb-5">
  <div class="container text-center my-5 pt-5 pb-4">
    <h1 class="display-3 text-white mb-3 animated slideInDown">Your wallet</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center text-uppercase">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">Wallet</li>
      </ol>
    </nav>
  </div>
</div>

<div class="container">
    <div class="bg-dark text-center">
      <div class="p-5">
        <h5 class="section-title ff-secondary text-primary">Create your Wallet</h5>
        <h1 class="text-white mb-4">Wallet</h1>
        <%= render 'form' %>
    </div>
  </div>
</div>