<header>
  <div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
      <div class="row align-items-center g-5">
        <div class="col-lg-6 text-center text-lg-start">
          <h1 class="display-3 text-white">Time is free<br>But it's priceless</h1>
          <p class="text-white mb-4 pb-2">That's why we're here to help you save it. Browse hundreds of products or take advantage of selling your own. Register to receive a welcome pack with a discount on your first purchase.</p>
          <%= link_to "Sign up", signup_path, class: "btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft" unless logged_in? %>
        </div>
        <div class="col-lg-6 text-center text-lg-end overflow">
          <!-- alternative: overflow-hidden for...hidden box-area :) -->
          <%= link_to image_tag("img/logo4.png") %>

        </div>
      </div>
    </div>
  </div>
</header>